@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$primary-color: #602f6b;
$primary-text-color: #ffffff;
$primary-font: 'Ubuntu', sans-serif;


body {
  background-color:$primary-color;
  color: $primary-text-color;
  font-family: $primary-font;
}

h2 {
	color: $primary-text-color;
}

.container {
  width: 75%;
  margin: 0 auto;
}

input, button {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

input {
  width: 20%;
  min-width: 200px;
}


.artist-search-box {
  width: 250px;
  padding: 20px;
  background-color: $primary-text-color;
  margin: 10px;
  overflow: hidden;

  float: left;


  img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
  }

  .artist-name {
    margin-left: 20px;
  }
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

